<%- include('../includes/head.ejs') %>
<body>
<!--Header section-->
<%- include('../includes/header-main-menu.ejs') %>

<%- include('../includes/summary-form.ejs') %>
<div class="row btn-container">
    <div class="col-md-6 col-6">
        <a href="<%= regresar%>" class="btn btn-form">Regresar</a>
    </div>
    <div class="col-md-6 col-6">
        <a href="<%= aceptar%>" class="btn btn-form">Aceptar</a>
    </div>
</div>
</div>
</section>

<%- include('../includes/end.ejs') %>